body {
    font-family: 'Times New Roman', Times, serif;
    background-color: linear gray;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    text-align: center;
}

.detalhes {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(0, 0, 0);
}

footer {
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}